.banner {
  width: 100vw;
  height: 300px;
  background: linear-gradient(
      0deg,
      transparent -27%,
      rgba(0, 0, 0, 1),
      transparent
    ),
    url("../images/mobile-background.png");
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 53% 70px 23%;
}

.banner-tag {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 30px;
}
.banner-tag-icon {
  padding-right: 10px;
  height: 50px;
}

.banner > * {
  margin-top: 15px;
}

.banner-tag,
.banner-header,
.banner-description {
  color: white;
}

.banner-header {
  font-size: 48px;
  width: 80%;
}
.banner-description {
  font-size: 35px;
  width: 80%;
  font-weight: 400;
}

.banner-button-icon {
  display: none;
}

.banner-button {
  background-color: #c41239;
  text-align: center;
  margin: 20px;
  margin-left: 0px;
  padding: 40px 0;
  color: white;
  width: 92%;
  font-size: 35px;
}

@media all and (min-device-width: 708px) {
  .banner {
    margin: 0 auto;
    background: none;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8), transparent),
      url("../images/desktop-background.png") center/cover;
    background-repeat: no-repeat;
    width: 100vw;
    background-color: white;
    padding: 20px;
    padding-bottom: 0;
  }

  .banner-tag {
    font-size: 14px;
  }

  .banner-tag-icon {
    height: 25px;
  }

  .banner-header {
    width: 75%;
    font-size: 3.5vw;
  }

  .banner-description {
    width: 45%;
    font-size: 1.9vw;
  }
  .banner-button {
    background-color: transparent;
    display: flex;
    align-items: center;
    color: #c41239;
    font-size: 16px;
    margin: 0;
    margin-top: 18px;
    padding: 0;
  }
  .banner-button-icon {
    display: block;
    margin-left: 5px;
    height: 17px;
  }
}

@media all and (min-device-width: 950px) and (max-device-width: 1800px) {
  .banner-header {
    font-size: 33px;
    width: 700px;
  }
  .banner-description {
    font-size: 18px;

    width: 400px;
  }
}
