.banner {
  width: 100vw;
  height: 300px;
  background: linear-gradient(
      0deg,
      transparent -27%,
      rgba(0, 0, 0, 1),
      transparent
    ),
    url("../images/mobile-background.png");
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 25px;
  padding-top: 53%;
}

.banner-tag {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.banner-tag-icon {
  padding-right: 10px;
  height: 30px;
}

.banner > * {
  margin-top: 10px;
}

.banner-tag,
.banner-header,
.banner-description {
  color: white;
}

.banner-header {
  font-size: 3vw;
  width: 90%;
}
.banner-description {
  font-size: 2vw;
  width: 80%;
}

.banner-button-icon {
  display: none;
}

.banner-button {
  background-color: #c41239;
  text-align: center;
  margin: 20px 0;
  padding: 20px 0;
  color: white;
  width: 92%;
  font-size: 18px;
}

@media only screen and (min-width: 708px) {
  .banner {
    margin: 0 auto;
    background: none;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8), transparent),
      url("../images/desktop-background.png") center/cover;
    background-repeat: no-repeat;
    width: 100vw;
    background-color: white;
    padding: 20px;
  }

  .banner-header {
    width: 75%;
  }

  .banner-description {
    width: 50%;
  }
  .banner-button {
    background-color: transparent;
    display: flex;
    align-items: center;
    color: #c41239;
  }
  .banner-button-icon {
    display: block;
    margin-left: 5px;
    height: 17px;
  }
}
